body {
    margin: 20px;
    padding: 0px;
    background-color: #4D4D4D;
}

#maincontainer {
    color: black;
    background-color: white;
    width: 800px;
    margin: auto;
    padding: 0;
    font-family: Times, 'Times New Roman', serif;
    border: 4px solid #C80000;
}

#header {
    min-height: 100px;
    background-image: url("images/header.jpg");
    background-size: 800px 400px;
    border-style: none none solid none;
    border-color: #C80000;
}

#header h1 {
    margin: 0;
    padding: 16px;
    padding-top: 50px;
    text-align: center;
}

#header a h1 {
    color: black;
}

#navigation td {
    width: 200px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #B8B8B8;
    border: 2px solid #C80000;
}

#navigation a {
    text-decoration: none;
    color: #black;
}

#navigation td:hover {
    background-color: #c80000;
}

#content {
    padding: 8px;
}

#about p, #about h1 {
    text-align: right;
}

#portrait {
    width: 200px;
    float: left;
    margin: 16px;
    margin-top: 48px;
    border: 2px solid #C80000;
}

#footer {
    color: black;
    background-color: #C80000;
    text-align: right;
}